body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #38bdf8;
}

input {
  padding: 10px;
  width: 260px;
  font-size: 16px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #22c55e;
  border: none;
  color: black;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #16a34a;
}

a {
  color: #38bdf8;
}
